In [1]:
import yfinance as yf
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime

import sys
sys.path.append('../utils')
import clean_column_names

In [2]:
## Read S&P 500 tickers from Wikipedia and store in a list

request = requests.get(
'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = BeautifulSoup(request.content)
main_table = soup.find(id='constituents')
table = main_table.find('tbody').findAll('tr')
table = table[1:]

tickers = []

for row in table:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers = [s.replace('\n', '') for s in tickers]

In [3]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [4]:
## Add S&P 500 Index to the tickers list
tickers_with_sp500 = tickers + ['^GSPC']
tickers_with_sp500

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS',
 '^GSPC']

In [5]:
# ## Download price time series data from Yahoo Finance using yfinance (including S&P 500 Index)

start = datetime.datetime(2020, 1, 1)
# end = datetime.datetime(2022, 1, 1) -- not needed as we are downloading till today
# data = yf.download(tickers, start=start, end=end) -- not needed as we are downloading till today
price_data = yf.download(tickers_with_sp500, start=start)

[*********************100%%**********************]  504 of 504 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2020-01-01 00:00:00 -> 2023-12-16)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [6]:
## View the last 5 rows of the data. You can see that the data is in a multi-index format.
price_data.tail()

                      Adj Close                                             \
                              A    AAL        AAPL        ABBV        ABNB
Date
2023-12-11 00:00:00  128.970001  13.72  193.179993  151.240005  142.910004
2023-12-12 00:00:00  128.789993  14.04  194.710007  153.240005  140.550003
2023-12-13 00:00:00  133.740005  14.09  197.960007  154.300003  144.509995
2023-12-14 00:00:00  137.960007  14.59  198.110001  154.880005  147.259995
2023-12-15 00:00:00  136.779999  14.49  197.570007  154.039993  146.600006

                                                                    \
                            ABT       ACGL         ACN        ADBE
Date
2023-12-11 00:00:00  106.220001  79.610001  342.309998  625.200012
2023-12-12 00:00:00  106.680000  80.279999  343.220001  633.659973
2023-12-13 00:00:00  107.250000  78.379997  343.640015  624.260010
2023-12-14 00:00:00  108.599998  74.669998  342.730011  584.640015
2023-12-15 00:00:00  107.290001  73.419998  344.149994  584.679993

                                 ...    Volume                              \
                            ADI  ...       XEL       XOM     XRAY      XYL
Date                             ...
2023-12-11 00:00:00  190.130005  ...   4332500  22252300  2238400  1318900
2023-12-12 00:00:00  190.970001  ...   3289900  26084000  3145800  1376600
2023-12-13 00:00:00  192.270004  ...   6787200  19915400  2429900  1743500
2023-12-14 00:00:00  200.169998  ...   7975200  26165700  4605700  1613600
2023-12-15 00:00:00  200.880005  ...  10785700  55518700  5155800  3426300


                         YUM      ZBH     ZBRA     ZION      ZTS       ^GSPC
Date
2023-12-11 00:00:00  1182400  2066300   363100  1241200  3199200  3823210000
2023-12-12 00:00:00  1703100  2051300   238400  1570300  1899700  3808380000
2023-12-13 00:00:00  1927300  2301300   303500  3604300  2104700  5063650000
2023-12-14 00:00:00  3238700  2049000  1165900  6563800  3044400  6314040000
2023-12-15 00:00:00  2667500  4073900  1025000  6252100  4058300  8218980000

[5 rows x 3024 columns]

In [7]:
## We will only need the Adj Close column for our analysis. We can also convert the multi-index format to a single index format using the reset_index() function.
adj_close = price_data['Adj Close'].reset_index()
## View the last 5 rows of the data. You can see that the data is in a single index format.
adj_close.tail()

,Date,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS,^GSPC
992,2023-12-11,128.970001,13.72,193.179993,151.240005,142.910004,106.220001,79.610001,342.309998,625.200012,...,61.549999,99.620003,31.670000,107.699997,126.629997,117.980003,239.649994,38.630001,189.460007,4622.439941
993,2023-12-12,128.789993,14.04,194.710007,153.240005,140.550003,106.680000,80.279999,343.220001,633.659973,...,61.160000,98.050003,31.920000,107.940002,128.070007,117.449997,239.380005,38.130001,191.470001,4643.700195
994,2023-12-13,133.740005,14.09,197.960007,154.300003,144.509995,107.250000,78.379997,343.640015,624.260010,...,63.330002,98.919998,33.330002,109.180000,130.929993,117.900002,244.429993,41.820000,197.410004,4707.089844
995,2023-12-14,137.960007,14.59,198.110001,154.880005,147.259995,108.599998,74.669998,342.730011,584.640015,...,62.570000,101.580002,34.349998,110.930000,131.110001,118.529999,272.160004,45.669998,200.089996,4719.549805
996,2023-12-15,136.779999,14.49,197.570007,154.039993,146.600006,107.290001,73.419998,344.149994,584.679993,...,61.580002,100.900002,34.380001,110.720001,128.639999,118.690002,270.179993,43.840000,196.289993,4719.189941

In [8]:
## We can also set the Date column as the index using the set_index() function.
adj_close = adj_close.set_index('Date')
adj_close.tail()

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS,^GSPC
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-11,128.970001,13.72,193.179993,151.240005,142.910004,106.220001,79.610001,342.309998,625.200012,190.130005,...,61.549999,99.620003,31.670000,107.699997,126.629997,117.980003,239.649994,38.630001,189.460007,4622.439941
2023-12-12,128.789993,14.04,194.710007,153.240005,140.550003,106.680000,80.279999,343.220001,633.659973,190.970001,...,61.160000,98.050003,31.920000,107.940002,128.070007,117.449997,239.380005,38.130001,191.470001,4643.700195
2023-12-13,133.740005,14.09,197.960007,154.300003,144.509995,107.250000,78.379997,343.640015,624.260010,192.270004,...,63.330002,98.919998,33.330002,109.180000,130.929993,117.900002,244.429993,41.820000,197.410004,4707.089844
2023-12-14,137.960007,14.59,198.110001,154.880005,147.259995,108.599998,74.669998,342.730011,584.640015,200.169998,...,62.570000,101.580002,34.349998,110.930000,131.110001,118.529999,272.160004,45.669998,200.089996,4719.549805
2023-12-15,136.779999,14.49,197.570007,154.039993,146.600006,107.290001,73.419998,344.149994,584.679993,200.880005,...,61.580002,100.900002,34.380001,110.720001,128.639999,118.690002,270.179993,43.840000,196.289993,4719.189941

In [9]:
## Let's convert the daily prices to daily returns using the pct_change() function.
returns = adj_close.pct_change()
returns.tail()

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS,^GSPC
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-11,0.013915,-0.002907,-0.012927,0.013130,0.015852,0.016362,0.003909,0.015064,0.024901,0.028397,...,0.010507,0.000703,-0.006587,0.012408,0.018417,0.005797,0.014907,-0.007706,0.026327,0.003924
2023-12-12,-0.001396,0.023324,0.007920,0.013224,-0.016514,0.004331,0.008416,0.002658,0.013532,0.004418,...,-0.006336,-0.015760,0.007894,0.002228,0.011372,-0.004492,-0.001127,-0.012943,0.010609,0.004599
2023-12-13,0.038435,0.003561,0.016691,0.006917,0.028175,0.005343,-0.023667,0.001224,-0.014834,0.006807,...,0.035481,0.008873,0.044173,0.011488,0.022331,0.003831,0.021096,0.096774,0.031023,0.013651
2023-12-14,0.031554,0.035486,0.000758,0.003759,0.019030,0.012587,-0.047333,-0.002648,-0.063467,0.041088,...,-0.012001,0.026890,0.030603,0.016029,0.001375,0.005343,0.113448,0.092061,0.013576,0.002647
2023-12-15,-0.008553,-0.006854,-0.002726,-0.005424,-0.004482,-0.012063,-0.016740,0.004143,0.000068,0.003547,...,-0.015822,-0.006694,0.000873,-0.001893,-0.018839,0.001350,-0.007275,-0.040070,-0.018991,-0.000076

In [10]:
# Separate the '^GSPC' column
sp500_returns = returns[['^GSPC']].rename(columns={'^GSPC': 'RETURN'})
sp500_returns['TICKER'] = "SP500"
sp500_returns.tail()

              RETURN TICKER
Date
2023-12-11  0.003924  SP500
2023-12-12  0.004599  SP500
2023-12-13  0.013651  SP500
2023-12-14  0.002647  SP500
2023-12-15 -0.000076  SP500

In [11]:
# Drop the '^GSPC' column from the original DataFrame for stacking
returns_data_excluding_sp500 = returns.drop(columns=['^GSPC'])
returns_data_excluding_sp500.tail()

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-11,0.013915,-0.002907,-0.012927,0.013130,0.015852,0.016362,0.003909,0.015064,0.024901,0.028397,...,0.021499,0.010507,0.000703,-0.006587,0.012408,0.018417,0.005797,0.014907,-0.007706,0.026327
2023-12-12,-0.001396,0.023324,0.007920,0.013224,-0.016514,0.004331,0.008416,0.002658,0.013532,0.004418,...,0.002674,-0.006336,-0.015760,0.007894,0.002228,0.011372,-0.004492,-0.001127,-0.012943,0.010609
2023-12-13,0.038435,0.003561,0.016691,0.006917,0.028175,0.005343,-0.023667,0.001224,-0.014834,0.006807,...,0.020758,0.035481,0.008873,0.044173,0.011488,0.022331,0.003831,0.021096,0.096774,0.031023
2023-12-14,0.031554,0.035486,0.000758,0.003759,0.019030,0.012587,-0.047333,-0.002648,-0.063467,0.041088,...,0.020223,-0.012001,0.026890,0.030603,0.016029,0.001375,0.005343,0.113448,0.092061,0.013576
2023-12-15,-0.008553,-0.006854,-0.002726,-0.005424,-0.004482,-0.012063,-0.016740,0.004143,0.000068,0.003547,...,-0.011581,-0.015822,-0.006694,0.000873,-0.001893,-0.018839,0.001350,-0.007275,-0.040070,-0.018991

In [12]:
# Stack, reset index, and sort as before
stacked_returns = returns_data_excluding_sp500.stack(level=-1, dropna=False).reset_index().rename(index=str, columns={"level_1": "TICKER", 0:"RETURN"}).sort_values(['TICKER','Date']).set_index('Date')
stacked_returns.tail()

           TICKER    RETURN
Date
2023-12-11    ZTS  0.026327
2023-12-12    ZTS  0.010609
2023-12-13    ZTS  0.031023
2023-12-14    ZTS  0.013576
2023-12-15    ZTS -0.018991

In [13]:
# Merge the 'XYZ' column back
# Assuming 'Date' is the index of sp500_price, if not, you might need to reset and rename its index as well
combined_returns = stacked_returns.merge(sp500_returns, left_on='Date', right_on='Date', how='left', suffixes=('', '_SP500'), validate='many_to_one')
combined_returns.tail()

           TICKER    RETURN  RETURN_SP500 TICKER_SP500
Date
2023-12-11    ZTS  0.026327      0.003924        SP500
2023-12-12    ZTS  0.010609      0.004599        SP500
2023-12-13    ZTS  0.031023      0.013651        SP500
2023-12-14    ZTS  0.013576      0.002647        SP500
2023-12-15    ZTS -0.018991     -0.000076        SP500

In [14]:
final_returns = combined_returns[['TICKER', 'RETURN', 'RETURN_SP500']]
final_returns['EXCESS_RETURN'] = final_returns['RETURN'] - final_returns['RETURN_SP500']
final_returns.tail()

           TICKER    RETURN  RETURN_SP500  EXCESS_RETURN
Date
2023-12-11    ZTS  0.026327      0.003924       0.022403
2023-12-12    ZTS  0.010609      0.004599       0.006010
2023-12-13    ZTS  0.031023      0.013651       0.017372
2023-12-14    ZTS  0.013576      0.002647       0.010929
2023-12-15    ZTS -0.018991     -0.000076      -0.018915

In [16]:
## Clean column names
final_returns_cleaned = clean_column_names.clean_column_and_index_names(final_returns)

In [17]:
## Save the data to a CSV file for development purposes
final_returns_cleaned.to_csv('../csv_dumps/sp500_returns_time_series.csv')

In [18]:
## Get stock info for all S&P 500 stocks (note to exclude S&P 500 Index from the list because the data is returned in a different format)

info_tickers = yf.Tickers(tickers)

info_df = pd.DataFrame()

for ticker in tickers:
    stock_info = info_tickers.tickers[ticker].info
    stock_info_df = pd.DataFrame.from_dict(stock_info, orient='index').T
    info_df = pd.concat([info_df, stock_info_df])

info_df.set_index('symbol', inplace=True)

In [19]:
info_df.tail()

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,pegRatio,targetHighPrice,targetLowPrice,targetMeanPrice,targetMedianPrice,recommendationMean,numberOfAnalystOpinions,earningsGrowth,fax,industrySymbol
symbol,,,,,,,,,,,,,,,,,,,,,
YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,NaN,NaN,...,1.79,160.0,116.0,138.1,136.0,2.4,21,0.281,NaN,NaN
ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,NaN,NaN,...,6.08,340.0,183.0,265.67,275.0,2.4,9,NaN,NaN,NaN
ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3121,https://www.zimmerbiomet.com,Medical Devices,NaN,NaN,...,2.28,150.0,99.0,129.38,130.0,2.6,24,-0.163,NaN,NaN
ZION,One South Main Street,Salt Lake City,UT,84133-1109,United States,801 844 7637,https://www.zionsbancorporation.com,Banks—Regional,NaN,NaN,...,-0.31,48.0,32.0,37.95,37.5,2.7,20,-0.191,NaN,NaN
ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers—Specialty & Generic,NaN,NaN,...,3.53,255.0,190.0,216.18,215.0,1.9,11,0.142,NaN,NaN

In [20]:
## Clean column names
info_df_cleaned = clean_column_names.clean_column_and_index_names(info_df)
info_df_cleaned.tail()

,ADDRESS1,CITY,STATE,ZIP,COUNTRY,PHONE,WEBSITE,INDUSTRY,INDUSTRYKEY,INDUSTRYDISP,...,PEGRATIO,TARGETHIGHPRICE,TARGETLOWPRICE,TARGETMEANPRICE,TARGETMEDIANPRICE,RECOMMENDATIONMEAN,NUMBEROFANALYSTOPINIONS,EARNINGSGROWTH,FAX,INDUSTRYSYMBOL
SYMBOL,,,,,,,,,,,,,,,,,,,,,
YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,NaN,NaN,...,1.79,160.0,116.0,138.1,136.0,2.4,21,0.281,NaN,NaN
ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,NaN,NaN,...,6.08,340.0,183.0,265.67,275.0,2.4,9,NaN,NaN,NaN
ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3121,https://www.zimmerbiomet.com,Medical Devices,NaN,NaN,...,2.28,150.0,99.0,129.38,130.0,2.6,24,-0.163,NaN,NaN
ZION,One South Main Street,Salt Lake City,UT,84133-1109,United States,801 844 7637,https://www.zionsbancorporation.com,Banks—Regional,NaN,NaN,...,-0.31,48.0,32.0,37.95,37.5,2.7,20,-0.191,NaN,NaN
ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers—Specialty & Generic,NaN,NaN,...,3.53,255.0,190.0,216.18,215.0,1.9,11,0.142,NaN,NaN

In [21]:
## Save the data to a CSV file for development purposes
info_df.to_csv('../csv_dumps/sp500_info.csv')